/* Hero section */
.hero-section {
  background: linear-gradient(135deg, #00bcd4, #4caf77);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0 20px;
  border-radius: 0px 0px 20px 20px;
}

.hero-content {
  max-width: 800px;
  padding: 20px;
}

.hero-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1;
}

.hero-description {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 40px;
}

.cta-button {
  background-color: #fff;
  color: #00bcd4;
  padding: 18px 50px;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
  transform: scale(1.05);
}

/* Features Section */
.features {
  padding: 50px 0;
}

.features-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.feature-icon {
  font-size: 3rem;
  color: #4eff4e;
  margin-bottom: 20px;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;

  margin-bottom: 10px;
}

.feature-description {
  font-size: 1rem;
  text-align: left;

  line-height: 1.5;
  max-width: 500px;
  margin: 0 auto;
}
/* Video Features Section */
.video-features {
  padding: 50px 20px;
  max-width: 700px;
  margin: 0 auto;
}

.video-player-capture {
  width: 220px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #00bcd4; /* Adding a border */
  background: linear-gradient(
    135deg,
    #00bcd4,
    #4caf77
  ); /* Optional, adds gradient inside */
  animation: animated-shadow 3s ease-in-out infinite; /* Apply animation with longer smooth effect */
}

.video-features-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.video-item {
  margin-bottom: 40px;
}

.video-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 20px;
}

.video-info-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  gap: 20px;
}

.video-text-reverse {
  flex: 1;
  text-align: right;
  padding-right: 20px;
}

.video-title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.video-container {
  flex: 1;
  max-width: 100%;
}

.video-description {
  font-size: 1rem;

  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .video-item {
    margin-bottom: 30px;
  }

  .video-text {
    padding-right: 0;
  }

  .video-container {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .features-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .feature-item {
    width: 30%;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .feature-item {
    width: 80%;
    margin: 10px auto;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 1.1rem;
  }

  .cta-button {
    font-size: 1.2rem;
    padding: 15px 40px;
  }
  .video-player-capture {
    width: 120px;
  }
}

@keyframes animated-shadow {
  0% {
    box-shadow: 0 0 0px 0px rgba(0, 188, 212, 0.8),
      0 0 0px 0px rgba(76, 175, 119, 0.8);
  }
  50% {
    box-shadow: 0 0 8px 3px rgba(0, 188, 212, 0.8),
      0 0 7px 3px rgba(76, 175, 119, 0.8);
  }
  100% {
    box-shadow: 0 0 0px 0px rgba(0, 188, 212, 0.8),
      0 0 0px 0px rgba(76, 175, 119, 0.8);
  }
}
