.latest-fixture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 0;
  min-height: 350px;
  cursor: pointer;
}
.lineupAndRatings-Container {
  margin: 20px 20px 0;
  width: calc(60%);
}
.fixture-countdown {
  font-size: 30px;
}

.fixture-countdown-title {
  font-size: 10px;
}

.latest-fixture-teams {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.fixture-header-outer {
  margin: 20px 20px 0;
  overflow: hidden;
}
.fixture-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  position: relative;
}

.fixture-header > * {
  flex: 1 1 33%;
}

.team-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  text-align: center;
}
.scorers-Contianer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px;
}

.team-logo {
  height: 150px;
  width: auto;
  object-fit: contain;
}

.team-name {
  font-size: 20px;
  font-weight: bold;
}
.match-small-details {
  position: relative;
}
.toggle-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.match-small-details-text {
  padding: 0px;
  margin: 0px;
}
.team-logo-small {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.team-versus {
  margin: 0 12px;
  font-size: 16px;
  font-weight: bold;
}

.fixture-time {
  font-size: 16px;
  text-align: center;
}

.fixture-time-header {
  position: absolute;
  top: 1px;
  font-size: 8px;
  text-align: center;
  font-weight: 500;
  color: grey;
}
.prev-upcom-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px 20px 0px 20px;
}
.previous-fixtures-list,
.upcoming-fixtures-list {
  position: relative;
  flex: 1 1 50%;
  justify-content: center;
  overflow-y: scroll;
  max-height: 350px;
}

.fixture-list-item {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #3a3a3a;
  cursor: pointer;
}

.fixture-list-item:last-child {
  border-bottom: none;
}

.fixture-teams {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixture-meta {
  display: flex;
  align-items: center;
}

.league-logo {
  height: 30px;
  background-color: white;
  padding: 4px;
  border-radius: 8px;
  margin-right: 10px;
}

.fixture-status-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  border-radius: 8px;
  min-height: 200px;
  padding: 20px;
  max-width: 250px;
}

.fixture-status-short {
  font-size: 30px;
  font-weight: 300;
}

.scoreboard-Container {
  padding: 10px;
  margin: 0px;
  height: 100px;
  border-radius: 8px;
}

.scoreboard {
  font-size: 50px;
  font-weight: 600;
}

.halftime-scoreboard {
  font-size: 15px;
  font-weight: 300;
  color: grey;
}

.fixure-events-list {
  list-style: none;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

.fixure-events-list-item {
  margin-bottom: 5px;
}
.fixture-item-scoreboard {
  padding: 3px 10px;
  margin: 0px 15px;
  border-radius: 8px;
}

/* ScorePrediction */

.scorePredictionContainer {
  margin: 20px 20px 0;
  height: 150px;
  position: relative;
}
.scorePredictionResultsContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  min-height: 150px;
  /* margin: 20px 20px 0; */
  padding: 10px;
}

.scorePredictionResultsInnerContainer {
  position: relative;
  display: flex;
  flex-direction: column; /* Stack the heading and content vertically */
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  width: 100%; /* Ensure it takes the full width */
}

.scorePredictionInnerHeading {
  font-size: 15px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px; /* Space between heading and content */
  position: absolute;
  top: 0px;
  font-weight: 300;
  color: grey;
}
.scorePredictionTeams {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}
.scorePredictionTeam {
  display: flex;
  align-items: center;
  justify-content: center;
}
.predict-team-logo {
  height: 80px;
  margin: 30px;
}
.scorePredictButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.predictionScore {
  font-size: 40px;
}
.usersScorePrediction {
  font-size: 50px;
}
.predictScoreSubmit {
  position: absolute !important;
  top: 50% !important;
  right: 10% !important;
  transform: translateY(-50%) !important;
}

/* Player Ratings */
.PlayerRatingsItemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 1000px;
  overflow: scroll;
}
.PlayerRatingItem {
  position: relative;
  width: 100%;
  background-color: #282828;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6), 0 1px 3px rgba(0, 0, 0, 0.4);
  margin: 10px;
  /* padding: 10px 10px 0px 10px; */
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-width: 850px;
  /* align-items: flex-start; */
}
.PlayerRatingMotmContainer {
  width: calc(100% - 20px) !important;
}
.PlayerRatingImg {
  width: 125px;
  object-fit: cover;
  background: linear-gradient(to bottom right, #4e73df, #9b59b6);
}
.PlayerRatingInner {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.PlayerRatingsNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.PlayerRatingName {
  letter-spacing: 1.4px;
  font-weight: 500;
  margin-left: 30px;
}
.PlayerRatingsIcon {
  /* width: 25px; */
  height: 25px;
  margin: 0px 5px;
  object-fit: contain;
}
.PlayerRatingsButtonGroup {
  /* display: flex;
  justify-content: center; 
  align-items: center; */

  flex: 1 1 calc(20% - 10px);
  display: flex;

  /* display: flex;
  flex-direction: column;
  width: 100%; */
}
.PlayerRatingsChoices {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 5px; 
  padding: 10px;
  margin-left: 20px;
 */

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
}

.PlayerRatingsButton {
  flex: 5 !important;

  /* padding: 0px !important; */
}
.PlayerRatingsButton2 {
  flex: 1 !important;

  /* font-size: 15px !important;
  padding: 0px !important; */
}

.PlayerRatingsCommunityContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.PlayerRatingsCommunityTitle {
  font-size: 13px;
  font-weight: 300;
  color: grey;
  margin: 0px;
  padding: 0px;
}
.PlayerRatingsCommunityScore {
  font-size: 50px;
  margin: 0px 20px;
}
.PlayerRatingsResults {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 10px;
}
.PlayerRatingMotm {
  cursor: pointer;
  background-color: #1f1f1f;
  padding: 5px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 0px 10px 0px 0px;
}
.motm {
  animation: boxShadowPulse 2s infinite alternate;
}
@media (max-width: 768px) {
  .team-logo {
    height: 50px;
  }

  .scoreboard {
    font-size: 40px;
  }
  .fixture-header {
    min-height: 120px;
  }
  .fixture-header > * {
    flex: 1 1 30%;
  }

  .team-name {
    font-size: 18px;
  }

  .fixture-status-container {
    padding: 10px;
    min-height: 75px;
    max-width: 120px;
  }
  .fixture-status-short {
    font-size: 14px;
    color: grey;
  }
  .team-container {
    flex-direction: column;
    padding: 3px;
  }
  .fixure-events-list-item {
    font-size: 13px;
  }
  .prev-upcom-container {
    flex-direction: row;
  }
  .previous-fixtures-list,
  .upcoming-fixtures-list {
    max-height: 500px;
  }
  .fixture-list-item {
    position: relative;
    padding: 10px;
    justify-content: center;
  }
  .fixture-list-item .fixture-time {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5px;
    text-align: center;
  }
  .fixture-list-item .fixture-list-teamname {
    font-size: 0px;
  }
  .fixture-list-item .league-logo {
    position: absolute;
    background: none !important;
    bottom: 0px;
    right: 0px;
    text-align: center;
    display: none;
  }
  .fixture-item-scoreboard {
    padding: 3px 5px;
    margin: 0px 10px;
    border-radius: 5px;
  }

  .predictScoreSubmit {
    position: absolute !important;
    top: 20px !important;
    right: 5px !important;
  }
  .scorePredictionResultsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 20px;
  }
  .scorePredictionResultsInnerContainer {
    flex-direction: column;
    padding-top: 30px;
  }
  .PlayerRatingImg {
    width: 100px;
  }
  .PlayerRatingsChoices {
    margin-left: 5px;
  }

  .PlayerRatingsButton {
    /* padding: 0px !important; */
    font-size: 20px !important;
    /* padding: 0px 10px !important; */
  }
  .PlayerRatingsButton2 {
    padding: 0px !important;
    font-size: 15px !important;
  }
  .PlayerRatingName {
    font-size: 22px;
  }
}

@media (max-width: 450px) {
  .fixture-list-item {
    padding: 10px;
  }
  .team-logo-small {
    margin: 0px !important;
    height: 35px;
    width: 35px;
  }
  .team-name {
    font-size: 12px;
  }
  .countdownInterval {
    font-size: 20px;
  }
  .countdownIntervalSmall {
    font-size: 10px;
    font-weight: 500;
    color: grey;
  }
  .scoreboard {
    font-size: 30px;
  }
  .halftime-scoreboard {
    font-size: 10px;
  }
}

@keyframes boxShadowPulse {
  0% {
    box-shadow: 0 0 5px gold;
  }

  100% {
    box-shadow: 0 0 5px red;
  }
}
