.Prediction-lineup-container {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  /* width: 100%; */
}

.pitch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 100%; */
  /* max-width: 500px; */
  /* height: 600px; */
  margin: 0px;
  position: relative;
  /* background-color: #012401; */
  border-radius: 8px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.player {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  width: 30%;
  max-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1%;
  border-radius: 8px;
  padding: 5px;
  position: relative;
  background-color: #282828;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6), 0 1px 3px rgba(0, 0, 0, 0.4);
  max-width: 100px;
  overflow: visible;
  height: 120px;
  box-sizing: border-box;
  border: 1px #282828 solid;
}
.player-substitute {
  width: 75px;
  height: 100px !important;
  margin: 5px;
  font-size: 15px;
}
.player-substitute .lineup-player-img {
  width: 50px;
}
.img-wrapper {
  overflow: hidden !important;
  /* height: 100%; */
}
.lineup-player-img {
  width: 100%; /* Make sure it fills the container */
  height: 100%; /* Take up full height of the container */
  object-fit: cover; /* Ensures the image covers the container, cropping excess */
  z-index: 2;
}
.lineup-player-name {
  position: absolute;
  bottom: 0px !important;
  background-color: #282828;
  font-size: 15px;
  width: 90%;
  padding: 5px 0px;
  opacity: 0.9;
  border-radius: 8px;
  z-index: 3;
}
.lineup-player-number {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  font-weight: 300;
  color: rgb(150, 150, 150);
  opacity: 0.6;
}

.yellow-card {
  border: 1px solid #ffcc00a5; /* Yellow border */
}

.red-card {
  border: 1px solid #ff000085; /* Red border */
}

.yellow-red-card {
  border: 1px solid #ff000085; /* Red border */
}
.subs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.lineup-player-goals {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5px;
  left: 5px;
  opacity: 0.5;
  z-index: 1;
  font-size: 15px;
}
.lineup-player-cards {
  position: absolute;
  top: 40%;
  left: -5px;
  font-size: 20px;
}
.lineup-player-substitution {
  position: absolute;
  top: 40%;
  right: -5px;
  opacity: 0.5;
}
.player-lineup-delete {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
  display: none;
  cursor: pointer;
}
.player:hover .player-lineup-delete {
  display: block;
}

/* Default (Mobile First) */
.lineup-container {
  margin-bottom: 20px; /* Space between components */
  max-width: 100vw;
}
.statistics-container,
.events-container {
  margin-bottom: 20px;
  max-height: 500px;
  overflow-y: scroll;
}

.lineup-sidebar {
  display: flex;
  flex-direction: column;
}
.DraggableSquadTabsContainer {
  flex: 40%;
}

.DraggableSquadContainer {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
  overflow: visible !important;
}
.draggable-player {
  touch-action: none;
  user-select: none;
}

.DroppablePitchContainer {
  flex: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  max-width: 900px;
}
.DroppablePitchRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.predictTeamSubmit {
  position: absolute !important;
  top: 15px !important;
  right: 30px !important;
}
.lineupPredicClear {
  position: absolute !important;
  left: 10px;
  top: 50px;
  width: 50px;
  z-index: 9999;
}

.userPredictedTeamContainer {
  padding: 30px 0px 15px 0px;
}

@media (min-width: 768px) {
  .lineup-sidebar {
    width: calc(40% - 40px);
  }
  .lineup-sidebar > * {
    flex: 1; /* Stretch each child to fill available vertical space */
  }
  .Prediction-lineup-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .player {
    height: 100px;
    width: 75px;
    margin: 5px;
    font-size: 15px;
  }
  .lineup-player-number {
    position: absolute;
    right: 1px;
    top: 10px;
    font-weight: 500;
  }

  .DraggableSquadContainer {
    min-width: 90%;
  }

  .Prediction-lineup-container {
    flex-direction: column;
  }

  .lineupAndRatings-Container {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .DroppablePitchContainer {
    padding: 0px;
    max-width: 100vw !important;
  }
  .lineup-container {
    margin: 0px;
  }
  .player {
    height: 90px;
    width: 20%;
    margin: 3px;
    font-size: 15px;
  }
  .lineup-player-name {
    font-size: 10px;
    padding: 2px;
  }
  .lineup-player-number {
    position: absolute;
    right: 2px;
    top: 5px;
    font-weight: 500;
    font-size: 15px;
  }

  .DraggableSquadContainer {
    min-width: 90%;
    padding: 10px 0px;
  }

  .Prediction-lineup-container {
    flex-direction: column;
  }

  .lineupAndRatings-Container {
    width: 100%;
  }
  .percentage-text {
    font-size: 12px !important;
  }
}

/* chosenLineup */
.chosen-lineup-container {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  gap: 20px;
}

.chosen-lineup {
  position: relative;
  flex: 1 1 calc(50% - 10px); /* Take 50% width minus spacing */
  box-sizing: border-box; /* Prevent padding/border from breaking layout */
}
.community-team-stats {
  padding: 25px 10px 10px 0px;
  position: relative;
  flex: 1 1 calc(50% - 10px); /* Take 50% width minus spacing */
  box-sizing: border-box; /* Prevent padding/border from breaking layout */
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align children at the top of the container */
  overflow: scroll;
  max-height: 800px;
}

.lineup-player-container {
  display: flex;
  flex-direction: column; /* Stack the LineupPlayer and percentage bar vertically */
  align-items: center; /* Center-align the content */
  width: 100%; /* Ensure consistent width */
}

.percentage-bar-container {
  position: absolute;
  width: 100%; /* Full width of the container */
  height: 8px; /* Height of the percentage bar */
  background-color: #3e3d3d; /* Light background for the bar */
  margin-top: 8px; /* Spacing above the bar */
  border-radius: 4px; /* Rounded corners for the bar */
  bottom: -10px;
}

.percentage-bar {
  height: 100%;
  background: linear-gradient(
    to bottom right,
    #4e73df,
    #9b59b6
  ); /* Gradient background */
  border-radius: 2px; /* Rounded corners for the filled part */
  transition: width 0.3s ease; /* Smooth transition for dynamic updates */
}

.percentage-text {
  margin-top: 4px; /* Space above the percentage text */
  font-size: 0.9rem;
  text-align: center;
}

@media (max-width: 768px) {
  .chosen-lineup {
    flex: 1 1 100%; /* Full width on smaller screens */
  }
}
