.PlayerStatsListItem {
  position: relative;
  cursor: pointer;
}
.PlayerStatsListItemMeta {
  display: flex;
  align-items: center;
}
.PlayerStatsListItemScore {
  padding: 0px;
  margin: 0px;
  color: rgb(53, 53, 53);
  text-align: center;
}
.PlayerStatsListItemScoreContainer {
  border-radius: 8px;
  padding: 7px 15px;
  box-shadow: #ff6b6b;
  position: relative;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PlayerStatsListItemScoreContainerSmall {
  margin-right: 5px;
  border-radius: 5px;
  padding: 2px;
  position: relative;
}
.PlayerStatsListItemScoreHeading {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  position: absolute;
  top: -20px;
  left: 0px;
}
.PlayerStatsListItemArrow {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: grey;
}
.PlayerStatsButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px !important;
}

.PlayerStatsButtonContainer .MuiSelect-root,
.PlayerStatsButtonContainer .MuiToggleButtonGroup-root {
  height: 40px; /* Adjust to match */
}

.PlayerStatsButtonContainer .MuiToggleButton-root {
  height: 100%; /* Ensures buttons fill the ToggleButtonGroup height */
}
/*  */
/* PlayerPage */
.PlayerPageHeader {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 150px;
  border-radius: 0px 0px 20px 20px !important;
}
.PlayerPageImg {
  width: 100px;
  margin-left: 10px;
}
.PlayerPageNumber {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  margin: 0px;
}

.SeasonRatingContainer {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.PlayerMatchList {
  max-height: 500px;
  overflow-y: scroll;
}
.PlayerMatchItem {
  padding: 5px;
  border-bottom: 1px solid #3a3a3a;
}
.PlayerMatchItem:last-child {
  border-bottom: none;
}
.PlayerMatchMeta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
  color: grey;
}
.PlayerItemData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.PlayerItemOponentContainer {
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-items: center;
}
.PlayerItemOponentLogo {
  width: 22px;
  height: 22px;
  object-fit: contain;
  margin-right: 5px;
}
.PlayerItemTeamScore {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
@media (max-width: 450px) {
  .PlayerStatsListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 5px !important;
    border-radius: 8px;
    align-items: center;
  }
  .PlayerStatsListImg {
    width: 65px;
  }
}

.ratingPoor {
  background-color: #ff6b6b;
}
.ratingAverage {
  background-color: #ffb56b;
}
.ratingGood {
  background-color: #6bff95;
}
.ratingGreat {
  background-color: #6bbfff;
}
