.PlayerPageContainer {
  max-width: 600px;
  margin: auto;
}

.PlayerStatsContainer {
  margin: 10px;
  margin-top: 20px;
}

.PlayerStatsList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

/* Tablet (2 columns) */
@media (min-width: 600px) {
  .PlayerStatsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop (3 columns) */
@media (min-width: 1024px) {
  .PlayerStatsList {
    grid-template-columns: repeat(3, 1fr);
  }
}

.PlayerStatsListItem {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
}

.PlayerStatsListImg {
  width: 50px;
  margin-right: 20px;
}
.PlayerStatsListItemMeta {
  display: flex;
  align-items: center;
  position: relative;
}
.PlayerStatsListItemScore {
  padding: 0px;
  margin: 0px;
  color: rgb(53, 53, 53);
  text-align: center;
}
.PlayerStatsListItemScoreContainer {
  border-radius: 8px;
  padding: 7px 15px;
  box-shadow: #ff6b6b;
  position: relative;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PlayerStatsListItemScoreContainerSmall {
  margin-right: 5px;
  border-radius: 5px;
  padding: 2px;
  position: relative;
}
.PlayerStatsListItemScoreHeading {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  position: absolute;
  top: -20px;
  left: 0px;
}
.PlayerStatsListItemArrow {
  position: absolute;

  right: 5px;
  color: rgba(128, 128, 128, 0);
}
.PlayerStatsButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px !important;
}

.PlayerStatsButtonContainer .MuiSelect-root,
.PlayerStatsButtonContainer .MuiToggleButtonGroup-root {
  height: 40px; /* Adjust to match */
}

.PlayerStatsButtonContainer .MuiToggleButton-root {
  height: 100%; /* Ensures buttons fill the ToggleButtonGroup height */
}
/*  */
/* PlayerPage */
.PlayerPageHeader {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 150px;
  border-radius: 0px 0px 20px 20px !important;
}
.PlayerPageImg {
  width: 100px;
  margin-left: 10px;
}
.PlayerPageNumber {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  margin: 0px;
}

.SeasonRatingContainer {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.PlayerMatchList {
  max-height: 500px;
  overflow-y: scroll;
}
.PlayerMatchItem {
  padding: 5px;
  border-bottom: 1px solid #3a3a3a;
}
.PlayerMatchItem:last-child {
  border-bottom: none;
}
.PlayerMatchMeta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
  color: grey;
}
.PlayerItemData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.PlayerItemOponentContainer {
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-items: center;
}
.PlayerItemOponentLogo {
  width: 22px;
  height: 22px;
  object-fit: contain;
  margin-right: 5px;
}
.PlayerItemTeamScore {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
@media (max-width: 450px) {
  .PlayerStatsListImg {
    width: 30px;
  }
}

.ratingPoor {
  background-color: #ff6b6b;
}
.ratingAverage {
  background-color: #ffb56b;
}
.ratingGood {
  background-color: #6bff95;
}
.ratingGreat {
  background-color: #6bbfff;
}

.ratingLineupPoor {
  /* background-color: rgba(255, 107, 107, 0.3); */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border: 1px solid #ff6b6b;
}
.ratingLineupAverage {
  /* background-color: rgba(255, 181, 107, 0.3); */
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ffb56b;

  border-radius: 8px;
}
.ratingLineupGood {
  /* background-color: rgba(107, 255, 149, 0.3); */
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #6bff95;

  border-radius: 8px;
}
.ratingLineupGreat {
  /* background-color: rgba(107, 191, 255, 0.3); */
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #6bbfff;

  border-radius: 8px;
}
