@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Inter, sans-serif" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth background and text color transition */
}

.muiIconSmall {
  font-size: 20px !important;
}
.smallHeading {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 5px;
  left: 10px;
  font-weight: 300;
  letter-spacing: 2px;
  color: grey;
}

/* Global slim modern scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 8px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
  background: #da291c; /* Default thumb color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover color for thumb */
}

::-webkit-scrollbar-track {
  background: #313131; /* Background of the scrollbar track */
  border-radius: 4px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Optional overlay */
}
.globalHeading {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.globalBoxShadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.418);
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #4eff4e; /* Accent color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.muiButton {
  padding: 0px !important;
}
.countdownContianer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
.countdownInterval {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
}

.countdownIntervalSmall {
  font-size: 15px;
  font-weight: 100;
}
.gradient-text {
  background: linear-gradient(to bottom right, #e01111, #970dce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.pieChart {
  overflow: visible !important;
}
.recharts-wrapper {
  overflow: visible !important;
}
.pieChartScorePredictions {
  font-size: 15px;
  position: relative;
  overflow: visible;
}

.barChart {
  font-size: 15px;
}
.marginBottom {
  margin-bottom: 30px !important;
}

.containerMargin {
  margin: 20px 20px 0;
}

.recharts-text {
  z-index: 9999999;
}

button {
  text-transform: none !important;
  font-weight: 400 !important;
  letter-spacing: 1.2px !important;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.heading2 {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  .heading2 {
    font-size: 20px;
    margin: 0px;
  }
  .countdownInterval {
    font-size: 30px;
  }
  .smallHeading {
    font-size: 15px;
  }
  .containerMargin {
    margin: 10px 10px 0;
  }
}
